{% with previous_page=url_for('webui.index'), title="Freeloader list" %}
{% include "header.html" %}
{% endwith %}
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <!-- <strong>Title</strong> --> {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <h1>
         Dashboard
         <small>Version 1.0</small>
      </h1>
   </section>
   <!-- Main content -->
   <section class="content">
      <!-- Info boxes -->
      <div class="row">
         <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
               <span class="info-box-icon bg-black"><i class="fa fa-address-card"></i></span>
               <div class="info-box-content">
                  <span class="info-box-text">Credentials</span>
                  <span class="info-box-number">
                     {{count_credentials}}
                  </span>
                  <span class="text-muted">
                     accounts
                  </span>
               </div>
               <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
         </div>
         <!-- /.col --> 
      </div>
      <!-- /.row -->
      <!-- /.row -->
      <div class="row">
         <div class="col-xs-12">
            <div class="box">
               <div class="box-header">
                  <h3 class="box-title">List Credentials</h3>
                  <br><br><br><div id="area_grafico" class="chart"></div>
                  <div class="box-tools">
                     <div class="input-group input-group-sm" style="width: 150px;">
                        <form method="post" action="{{ url_for('webui.credentials_del') }}">                           
                           <br><br><div class="input-group-btn">
                              <a href="{{ url_for('webui.credentials_add')}}"><button type="button" class="btn btn-success"><i class="fa fa-plus-square"></i> ADD</button></a>
                              <button type="submit" name="delete" class="btn btn-danger"  onclick="return confirm('Remove selected credentials from list ?')"/><i class="fa fa-trash"></i> Delete Credentials</button>
                           </div>
                     </div>
                  </div>
               </div>
               <!-- /.box-header -->
               <div class="box-body table-responsive no-padding">               
               <table class="table table-hover">
               <tr>
               <th>ID</th>
               <th>Service</th>
               <th>E-mail</th>
               <th>Password</th>
               <th>Edit</th>
               <th>Select/All <input type="checkbox" id="ckbCheckAll" /></th>
               </tr>
               {% for credential in credentials %}
               <tr>               
               <td>{{credential.id}}</td>
               <td>{{credential.service}}</td>
               <td>{{credential.email}}</td>
               <td>*********</td>
               <td><a href="{{ url_for('webui.credentials_edit', credentials_id=credential.id) }}"><i class="fa fa-edit"></i> Edit</a></td>
               <td><input type="checkbox" class="botid" id="checkbox_{{credential.id}}" name="selection" value="{{credential.id}}" /></td>
               {% endfor %}
               </tr>
               </table>
               </form>
               </div>
               <!-- /.box-body -->
            </div>
            <!-- /.box -->
         </div>
      </div>
      <!-- Return to Top -->
      <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up"></i></a>  
      <!-- /.row -->
   </section>
   <!-- /.content -->
</div>
<!-- Return to Top -->
<script type="text/javascript">
   // ===== Scroll to Top ==== 
$(window).scroll(function() {
    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
        $('#return-to-top').fadeIn(200);    // Fade in the arrow
    } else {
        $('#return-to-top').fadeOut(200);   // Else fade out the arrow
    }
});
$('#return-to-top').click(function() {      // When arrow is clicked
    $('body,html').animate({
        scrollTop : 0                       // Scroll to top of body
    }, 500);
});
</script>

<!-- Return to Top -->
<style type="text/css">
   #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
</style>

<!-- /.content-wrapper -->
<script>
   $(document).ready(function () {
     $("#ckbCheckAll").click(function () {
         $(".botid").prop('checked', $(this).prop('checked'));
     });
   });      

   function send_command(e) {
     if(!$(".botid:checked").length){
       alert('Please select at least one bot !');
       return;
     }
     $(".botid:checked").each(function(){
       
     });     
     return false;
   }
   
   $(".alert").delay(4000).slideUp(200, function() {
    $(this).alert('close');
   });
</script>

{% include "footer.html" %}