Flask_HTTPAuth==3.2.3
pygeoip==0.3.2
Werkzeug==0.15.5
Flask_Script==2.0.5
Flask==1.0.0
Flask_SQLAlchemy==2.2
requests==2.20.0
anyjson==0.3.3
booleano==1.1a1
Shapely==1.6.4.post1
sphinx_rtd_theme==0.2.5b2
